body {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.app {
  border-radius: 1rem;
  box-sizing: border-box;
  height: auto;
  max-width: 550px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 12;
  opacity: 0.8;
}
.headerContainer {
  box-sizing: border-box;
  background: #000000;
  background: -webkit-linear-gradient(top right, #000000, #0c412e);
  background: -moz-linear-gradient(top right, #000000, #0c412e);
  background: linear-gradient(to bottom left, #000000, #0c412e);
  width: 100%;
  max-width: 550px;
  text-align: center;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 0.2rem 0.2rem;
}
select {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #018502;
  background: -webkit-linear-gradient(bottom left, #018502, #b3b3b3);
  background: -moz-linear-gradient(bottom left, #018502, #b3b3b3);
  background: linear-gradient(to top right, #018502, #b3b3b3);
}
select:hover {
  background: #018502;
  background: -webkit-linear-gradient(top right, #018502, #b3b3b3);
  background: -moz-linear-gradient(top right, #018502, #b3b3b3);
  background: linear-gradient(to bottom left, #018502, #b3b3b3);
}
.weathercardscontainer {
  box-sizing: border-box;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 0rem 0.5rem;
  display: flex;
  flex-basis: 0;
  flex: 1 1 0px;
  background: #000000;
  background: -webkit-linear-gradient(top right, #000000, #0c412e);
  background: -moz-linear-gradient(top right, #000000, #0c412e);
  background: linear-gradient(to bottom left, #000000, #0c412e);
  opacity: 0.9;
  max-width: 550px;
}

.dayCard {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.dayCard p:first-child {
  font-size: 0.9rem;
  max-width: 100%;
}
.dayCard p:last-child {
  font-size: 0.7rem;
}

.dayCard img {
  width: 3.2rem;
}
.tempParagrafi span:first-child {
  margin-right: 0.2rem;
}

.videoContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -10;
}

.videoContainer video {
  opacity: 0.5;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  z-index: -29;
  overflow: hidden;
  object-fit: fill;
}

@media screen and (max-width: 768px) {
  .app {
    max-width: 98%;
    margin-left: 1%;
    height: 200px;
  }
  .weathercardscontainer {
    box-sizing: border-box;
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    flex-basis: 0;
    flex: 1 1 0px;
    background: #000000;
    background: -webkit-linear-gradient(top right, #000000, #0c412e);
    background: -moz-linear-gradient(top right, #000000, #0c412e);
    background: linear-gradient(to bottom left, #000000, #0c412e);
    opacity: 0.9;
    max-width: 550px;
  }
  .dayCard {
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.3rem;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
  }
  .dayCard img {
    width: 2.2rem;
  }
  .tempParagrafi {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 371px) {
  .dayCard img {
    width: 1.7rem;
  }
  .tempParagrafi span {
    display: block;
  }
}
