
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app{
  border: 2px dotted black;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerContainer{
  display: flex;
  justify-content: space-around;

}



.weathercardscontainer{
  margin-top: 1rem;
  width: 450px;
  display: flex;
  background-color: green;
}
.dayCard{
  padding: 0.4rem;
  text-align: center;
  font-size: 0.8rem;
}

img{
  width: 40px;
}
.tempParagrafi span:first-child{
  font-weight: bold;
}